# category of datatype
# mutable and immutable
## sequential and non sequential
### ordered and un-ordered

In [1]:
s=str("hello world") # actual way to write

In [2]:
s="hello world" # not a actul way

In [15]:
class person:
    type="human" #attribute
    def __init__(self,name): #method
        self.name = name
    def show(self): # method
        print("name is",self.name)
        print("type of class is",person.type)
        
p1=person("guido van rossum") # p1 is identifier
p2=person("linus torworld")
print(id(p1))
print(type(p1))

931308315928
<class '__main__.person'>

In [12]:
p1.show()

name is guido van rossum
type of class is human

In [13]:
p2.show()

name is linus torworld
type of class is human

In [7]:
print(dir(person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'show', 'type']

In [14]:
s=str("hello")

In [16]:
print(id(s))

931308259120

In [17]:
print(type(s))

<class 'str'>

In [23]:
s=str("hello world")
print(id(s))

931308323568

In [19]:
s.upper() # old string does not chanhe

'HELLO WORLD'

In [20]:
s2=s.upper()

In [21]:
print(s2)

HELLO WORLD

In [22]:
print(id(s2))

931308294448

In [25]:
s=str("hello world")
print("before upper s is ",s, "and id is",id(s))
s=s.upper()
print("after upper s is ",s ,"and id is",id(s)) #will override id of s

before upper s is  hello world and id is 931308287664
after upper s is  HELLO WORLD and id is 931308273520

In [27]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
s="       hello World    "
s.upper()

'       HELLO WORLD    '

In [38]:
s.lower()

'       hello world    '

In [39]:
s.swapcase() #upper to lower ,lower to upper

'       HELLO wORLD    '

In [40]:
s.lstrip()

'hello World    '

In [41]:
s.rstrip()

'       hello World'

In [42]:
s.find('world')

-1

In [43]:
s="all cats are dogs,but all dogs are not cat"

In [44]:
"cats" in s

True

In [45]:
s.find("cats") # return index of 1st occurence

4

In [46]:
s.replace("cats","cows") #replace with 2nd string

'all cows are dogs,but all dogs are not cat'

In [47]:
s.split() # breaks from spaces

['all', 'cats', 'are', 'dogs,but', 'all', 'dogs', 'are', 'not', 'cat']

In [49]:
s="this is awesome !!"
s.split()

['this', 'is', 'awesome', '!!']

In [50]:
s="****************hello world**********"

In [55]:
s.strip("*")

'hello_world_python_is_easy_'

In [61]:
l=["item1","item2"]
print(l)


" a ".join(l) #join with " a "

['item1', 'item2']

'item1 a item2'

In [70]:
s="****hello_world_python_is_easy_just_give_it_a_little_time.****"

In [71]:
s=s.strip("*")

In [ ]:
s=s.split("_")

In [77]:
print(s)

['hello world python is easy just give it a little time.']

In [1]:
choice = input("enter your choice: ")
choice=choice.strip()
choice=choice.lower()
if choice =='yes' :
 print("good")
else :
 print("bad")

enter your choice: yes
good

In [2]:
choice = input("enter your choice: ").strip().lower().replace(" ","") # make sure all output of function is string
 
choice=choice.lower()
if choice =='yes' :
 print("good")
else :
 print("bad")

enter your choice:    Y    E    S
good

# order sequential data type

In [3]:
s="hello world!"
len(s) # finding the length of string s

12

In [4]:
s[0] #indexing (tells the data at that index)

'h'

In [5]:
s[5] #tells the character at 5 position

' '

In [6]:
s[-5] # start from last(-1) and tells the character at -5

'o'

In [7]:
s[10]

'd'

In [8]:
s[0:5:1] # to get a substring till 5-1=4 ,starting with 0 and taking step of 1

'hello'

In [9]:
s[0:5:2] # steps of 2

'hlo'

In [10]:
s[0:5] # bydefault step is 1

'hello'

In [13]:
s[-12:-7] # negative

'hello'

In [14]:
s[5:10]

' worl'

In [15]:
s[-9:-1]

'lo world'

In [18]:
s[:6]

'hello '

In [19]:
s[:6:-1]

'!dlro'

In [20]:
s

'hello world!'

In [21]:
s[5:10:-1] # start from 5 ,end to 9 with a step of 1

''

In [22]:
s[10:-5:-1] #

'dlr'

In [23]:
s[::-1]  # print from end

'!dlrow olleh'

In [24]:
s[::2]   # gives letter at the gap of 2

'hlowrd'

In [25]:
s[:-1] # to remove from last

'hello world'

In [26]:
s[:5]

'hello'

In [27]:
s[-5:]

'orld!'

# list 
## list is also sequential and order so it is similar to string
### list is collection of datatype and it is mutable

# diff between list and array
## all arrays are list but all list are not arrays
## array is collection of homogenous datatype
## list is collection of heteregenous datatype

In [29]:
l = [1,2,3] #homogenous

In [30]:
s=[1,2,'hi','bye'] #heteregenous

In [31]:
lang=['c','java','javascript','python']

In [32]:
lang[0]="basic of c"

In [33]:
print(lang) # mutable

['basic of c', 'java', 'javascript', 'python']

In [34]:
print(dir(list)) # for displaying the methods of given datATYPE(HERE IT IS LIST)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [35]:
help(list.append) # self means data

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [36]:
lang.append('matlab') # insert at the end of list

In [37]:
print(lang)

['basic of c', 'java', 'javascript', 'python', 'matlab']

In [38]:
[1,2,3]+[4,5,6] #concatenation

[1, 2, 3, 4, 5, 6]

In [41]:
x=5        #x=int(5)
y=6        #y=int(6)
print(x,y)

5 6

In [42]:
x.__add__(y) # magic method ,can be done directly also

11

In [43]:
len(lang)   # tells the length of given argument

5

In [44]:
list.__len__(lang) # for list (length)

5

In [45]:
int.__truediv__(5,6) #magic method

0.8333333333333334

In [46]:
5/6 #direct use,dunder

0.8333333333333334

In [47]:
lang.append("sql") #insert at last

In [49]:
lang.insert(0,'B')

In [50]:
print(lang)

['B', 'basic of c', 'java', 'javascript', 'python', 'matlab', 'sql']

In [51]:
lang.pop() #reverse of append

'sql'

In [52]:
lang.pop(3)

'javascript'

In [2]:
l=['a','b','c','d']

In [3]:
print(l)

['a', 'b', 'c', 'd']