# functions of list
## to add item
     list.append(object) -->add item at last
     list.insert(index,object) --> add item at index location
     list.extend(iterables) --> iterate through the sequence and add item at the end 
## to remove item
    list.pop() -->remove last item
    list.pop(index) -->remove element from index
    list.remove(object) -->remove 1st occurence of object from list
## basic operation on list
     list.count(object) -->count no of repetition of object
     list.index(object) -->returns index of 1st occurence of object
     list.reverse()-->reverse
     list.clear()--> clears the list
     list.sort() --> sorts the list in ascending order
     #for sort list must be homogeneous

In [3]:
 stu=[["st1",65,78,34],["st2",89,90,89],["st3",90,94,96]] # like 2-D array

In [7]:
# for use to work with iterables or sequences

for item in stu : # colon is indentation opeartor
     print(item)

['st1', 65, 78, 34]
['st2', 89, 90, 89]
['st3', 90, 94, 96]

In [1]:
normal=['Java','C','C++','Ruby','Perl']

for item in normal :
      # all 3 statement part of for loop
    print(item,end=',\t')

Java,	C,	C++,	Ruby,	Perl,

In [16]:
# string is sequence or not
for item in "Python" :
    print(item.center(50,"-"))

------------------------P-------------------------
------------------------y-------------------------
------------------------t-------------------------
------------------------h-------------------------
------------------------o-------------------------
------------------------n-------------------------

In [3]:
data=['java','C','C++']

In [20]:
data.append("ruby") # it does not return anything ,string returns (as creates new self)

In [19]:
data

['java', 'C', 'C++', 'ruby']

In [6]:
x=data.append("python") 
print(x)

None

In [7]:

data

['java', 'C', 'C++', 'python']

In [23]:
"hello".upper() # returns value creates a new self

'HELLO'

In [24]:
print(print(print(print("helloo")))) # print does not return ,input return string

helloo
None
None
None

In [9]:
l=[1,2,3]     
l=l.append(4) # will override,none is datatype ,append returns none
print(l)

None

In [11]:
l

In [26]:
l=[1,2,3]     
l1=l.append(4) # will override,none is datatype ,append returns none
print(l) 
print(l1) # none

[1, 2, 3, 4]
None

In [27]:
data=["java","C","C++","Ruby"]
data.append("Shell")

In [28]:
data

['java', 'C', 'C++', 'Ruby', 'Shell']

In [36]:
data.append(["bye","morning"]) # will treat it as single item

In [43]:
print(data)

['java', 'C', 'python', 'python', 'C++', 'Ruby', 'Shell', ['bye', 'morning']]

['bye', 'morning']

In [46]:
data.insert(2,'python') # at 2 position will insert python

'python'

In [47]:
data

['java', 'C', 'python', 'python', 'python', 'C++', 'Ruby', 'Shell']

In [38]:
data.insert(11,"good to go")
print(data) # as index not available so will insert at last

['java', 'C', 'python', 'C++', 'Ruby', 'Shell', ['bye', 'morning'], ['bye', 'morning'], ['bye', 'morning'], 'good to go']

In [49]:
d=[5,6,34,5,634]

In [50]:
d.insert(100,100)
print(d)

[5, 6, 34, 5, 634, 100]

In [52]:
d.insert(-2,10)
print(d)

[5, 6, 34, 5, 10, 634, 100]

In [53]:
d.insert(-100,'yahoo')
print(d)

['yahoo', 5, 6, 34, 5, 10, 634, 100]

In [54]:
d=[] # extend is used to add multiple item at last
d.extend('python') # treted as iterables
print(d)

['p', 'y', 't', 'h', 'o', 'n']

In [56]:
d=[]
d.extend(123) # treted as iterables,int is not iterable
print(d)

TypeError: 'int' object is not iterable

In [16]:
d=[]
d.extend(["hello","hi"])
print(d)
d.reverse()
print(d)

['hello', 'hi']
['hi', 'hello']

In [59]:
# list.pop() -->reverse append
# list.pop(index)--> reverse insert

In [17]:
# old fashion formatting
x=3
y=9
r=x+y
print("x  =%d"%(x))
print("y  =%d"%(y))
print("result  =%d"%(r))
# second method
s="""
x=%f
y=%f
result=%f
"""%(x,y,r)
print(s)

x  =3
y  =9
result  =12

x=3.000000
y=9.000000
result=12.000000

In [66]:
x=int(input("no "))
y=int(input("no "))
r=x+y
c=x-y
v=x*y
w=x/y
s="""
add is=%.2f
sub is=%.2f
multiplication is=%.2f
division is=%.2f
"""%(r,c,v,w)
print(s)

no 5
no 5

add is=10.00
sub is=0.00
multiplication is=25.00
division is=1.00

In [67]:
# old formatting method
x=int(input("no ")) 
y=int(input("no "))

s="""
add is=%.2f
sub is=%.2f
multiplication is=%.2f
division is=%.2f
"""%(x+y,x-y,x*y,x/y)
print(s)

no 5
no 5

add is=10.00
sub is=0.00
multiplication is=25.00
division is=1.00

In [1]:
%%writefile calc.py
x=int(input("no "))
y=int(input("no "))

s="""
add is=%.2f
sub is=%.2f
multiplication is=%.2f
division is=%.2f
"""%(x+y,x-y,x*y,x/y)
print(s)

Overwriting calc.py

In [69]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FAC3-CB88

 Directory of C:\Users\pallavi-pc\Desktop\summerinternbatch\batch_8am

05/16/2019  09:23 AM    <DIR>          .
05/16/2019  09:23 AM    <DIR>          ..
05/16/2019  08:13 AM    <DIR>          .ipynb_checkpoints
05/15/2019  02:23 PM            27,216 2).String_list.ipynb
05/16/2019  09:22 AM            12,725 3.List_dictionary.ipynb
05/16/2019  09:23 AM               152 calc.py
05/14/2019  10:06 AM            26,060 Datatype.ipynb
05/16/2019  12:03 AM            39,480 sirdata.ipynb
               5 File(s)        105,633 bytes
               3 Dir(s)  14,720,614,400 bytes free

In [ ]:
! python calc.py # to run a file kept somewhere else

In [1]:
x=3
y=9
r=x+y
# string formatting
result="""
x={:.2f}
y={:.2f}
r={:.2f}
""".format(x,y,r)
print(result)

x=3.00
y=9.00
r=12.00

In [2]:
s="welcome user {}" # curly bracket is called buffer

In [3]:
name=input("enter user name : ")
print(s.format(name))

enter user name : pallavi
welcome user pallavi

In [4]:
s

'welcome user {}'

In [5]:
s = "hello {one} ,you are good than {two}. {one}"

In [6]:
print(s.format(one=1,two=2))

hello 1 ,you are good than 2. 1

In [8]:
s= "{0} is a good. {0} has {1} legs. {0} goes to school" # indexing ,only pass 2 arguments

In [9]:
s.format('ram',4)

'ram is a good. ram has 4 legs. ram goes to school'

In [15]:
s= "{name} is a good. {name} has {legs} legs. {name} goes to school"

In [16]:
s.format(legs=2,name='ram')

'ram is a good. ram has 2 legs. ram goes to school'

In [17]:
name="yahoo"
legs=2
s= f"{name} is a good. {name} has {legs} legs. {name} goes to school"
print(s)

yahoo is a good. yahoo has 2 legs. yahoo goes to school

In [18]:
s=f"""
name={input("enter name :")}
age={input("enter age")}
"""

enter name :pallavi
enter age10

In [19]:
print(s)

name=pallavi
age=10

In [20]:
x=eval(input("Enter x :"))
y = eval(input("Enter y :"))
s=f"""
x = {x}
y = {y}
x+y = {x+y}
x-y = {x-y}
x*y = {x*y}
x/y = {x/y}
"""
print(s)

Enter x :6
Enter y :3

x = 6
y = 3
x+y = 9
x-y = 3
x*y = 18
x/y = 2.0

In [21]:
data=["java","c","c++","something"]

In [22]:
item = data.pop()
print(f"{item} is removed")

something is removed

In [23]:
"sachin " in data # membership opeartor

False

In [24]:
"java" in data

True

In [25]:
if True :
    print("It's true")
else :
    print("It's false")

It's true

In [12]:
item = input("enter item to be deleted :").strip().lower()
if item in data :
    data.remove(item)
    print(f"{item} is deleted from {data}.")
else :
    print(f"No such item {item} available")

enter item to be deleted :ruby
No such item ruby available

In [13]:
data=["java",'C',"C++"]
data.insert(-1,"ruby")  # remmember this

In [14]:
data

['java', 'C', 'ruby', 'C++']

In [15]:
data.index("C++")

3

In [18]:
"hello"*4

'hellohellohellohello'

In [19]:
[5,1]*5

[5, 1, 5, 1, 5, 1, 5, 1, 5, 1]

In [22]:
data=["java","C","C++","Ruby","Perl","C"]

In [23]:
data.count("java")

1

In [24]:
data.count("C")

2

In [25]:
data.reverse()

In [26]:
data

['C', 'Perl', 'Ruby', 'C++', 'C', 'java']

In [27]:
data.sort()

In [28]:
data

['C', 'C', 'C++', 'Perl', 'Ruby', 'java']

In [29]:
from random import randint

In [30]:
randint(10,20) #for generating random no b/w 10 to 20

11

In [31]:
data=[randint(1,20),randint(1,20)]

In [32]:
data

[19, 8]

In [33]:
data=[randint(1,20) for var in range(10)] #list compression

In [34]:
data

[16, 20, 2, 18, 20, 20, 14, 7, 14, 19]

In [36]:
data.sort(reverse=True) #descending order

In [37]:
data

[20, 20, 20, 19, 18, 16, 14, 14, 7, 2]

In [40]:
d1={"key":"value","key1":"value1"} #mutable,unordered

In [41]:
d1

{'key': 'value', 'key1': 'value1'}

In [42]:
d1["key"]

'value'