### Dictionary

In [ ]:
data_list=["john",1234,"hello world",50000,"natasha",2345,"hhh",45000,"hari",7890,"value",78997] # not efficient to use

In [4]:
data_list=[
          ["john",1234,"hello world",50000],
          ["natasha",2345,"hhh",45000],
          ["hari",7890,"value",78997]
          ]

In [5]:
for item in data_list :
  print(item)

['john', 1234, 'hello world', 50000]
['natasha', 2345, 'hhh', 45000]
['hari', 7890, 'value', 78997]

In [6]:
data_list[0]

['john', 1234, 'hello world', 50000]

In [8]:
data_list[1][3]

45000

In [10]:
data_list[1][3]=data_list[1][3]-7500

In [12]:
data_list

[['john', 1234, 'hello world', 50000],
 ['natasha', 2345, 'hhh', 37500],
 ['hari', 7890, 'value', 78997]]

In [13]:
data_list.append(["sam",3455,"nopassword",34577])

In [14]:
data_list

[['john', 1234, 'hello world', 50000],
 ['natasha', 2345, 'hhh', 37500],
 ['hari', 7890, 'value', 78997],
 ['sam', 3455, 'nopassword', 34577]]

In [15]:
data_list.pop(-2)

['hari', 7890, 'value', 78997]

## dictionary
### dictionaries are mutable
### dictionaries are unordered map type object
### dictionaries are collection of key-value pair
### dictionaries  keys should be hashable(immutable)
### values in dictionary can be any type

In [16]:
hash("hello")

500339344211020786

In [17]:
s = "hello"

In [18]:
hash(s) # hash value remain same for same data

500339344211020786

In [19]:
hash(input("enter string "))

enter string hello

500339344211020786

In [20]:
l=[1,2,3,4,4]
hash(l)

TypeError: unhashable type: 'list'

In [21]:
t=(1,2,3,4)
hash(t)

485696759010151909

In [22]:
data={"key1":"value1","key2":"value2"}

In [23]:
data

{'key1': 'value1', 'key2': 'value2'}

In [24]:
data={"name":"sachin","name":"python","name":"grras"}

In [25]:
data # will override items as key is same

{'name': 'grras'}

In [26]:
data["est_year"]=2008

In [27]:
data

{'name': 'grras', 'est_year': 2008}

In [28]:
data[0] # key should be given instead of index

KeyError: 0

In [33]:
data={"name":"Pallavi agrawal",
      "Age":20,
      "DOB":"28 feb 1999",
      "languages":["C","java","python"],
      "Email":"pallaviag28@gmail.com",
      "Education":{"senior secondary":"percentage 90%",
                   "higher secondary":"percentage 91.2%",
                  "graduation":"70% till 5th sem"}
    
     }

In [34]:
data

{'name': 'Pallavi agrawal',
 'Age': 20,
 'DOB': '28 feb 1999',
 'languages': ['C', 'java', 'python'],
 'Email': 'pallaviag28@gmail.com',
 'Education': {'senior secondary': 'percentage 90%',
  'higher secondary': 'percentage 91.2%',
  'graduation': '70% till 5th sem'}}

In [35]:
from pprint import pprint # to print properly
pprint(data)

{'Age': 20,
 'DOB': '28 feb 1999',
 'Education': {'graduation': '70% till 5th sem',
               'higher secondary': 'percentage 91.2%',
               'senior secondary': 'percentage 90%'},
 'Email': 'pallaviag28@gmail.com',
 'languages': ['C', 'java', 'python'],
 'name': 'Pallavi agrawal'}

In [37]:
data["Education"]

{'senior secondary': 'percentage 90%',
 'higher secondary': 'percentage 91.2%',
 'graduation': '70% till 5th sem'}

In [38]:
data["Education"]["senior secondary"]

'percentage 90%'

In [40]:
data["languages"][:2]

['C', 'java']

In [7]:
d = {"name":"python","version":3.7,("version",1):1994,("version",2):2000,("version",3):2008}

In [8]:
d

{'name': 'python',
 'version': 3.7,
 ('version', 1): 1994,
 ('version', 2): 2000,
 ('version', 3): 2008}

In [43]:
d[("version",1)]

1994

In [44]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Functions of dictionary
     1. dict.clear() --> delete all key-value pair
     2. dict.copy()  --> will return copy of original data
     3. dict.fromkeys(keys,default_value) --> create a new dictionary with keys having default_value
     4. dict.get(key,default) --> will return object of key if key exists else return default
     5. dict.items() --> will list of key-value pairs
     6. dict.keys() --> will return list of kreys
     7. dict.pop(key) --> will delete object map to key
     8. dict.popitem() --> will delete arbitary onject
     9. dict.setdefault(key,value) --> will return object if key exists otherwise return default
     10. dict.update() --> will add multiple items
     11. dict.values() -->will return values

In [46]:
d

{'name': 'python',
 'version': 3.7,
 ('version', 1): 1994,
 ('version', 2): 2000,
 ('version', 3): 2008}

In [47]:
data={"name":'grass',"est_year":2008}

In [48]:
data["head office"]="jaipur"

In [49]:
data

{'name': 'grass', 'est_year': 2008, 'head office': 'jaipur'}

In [50]:
dta1=data.copy()

In [51]:
dta1

{'name': 'grass', 'est_year': 2008, 'head office': 'jaipur'}

In [52]:
data.fromkeys(['key1','key2','key3'],"default")

{'key1': 'default', 'key2': 'default', 'key3': 'default'}

In [54]:
new_data = data.fromkeys(data.keys(),None)

In [55]:
new_data

{'name': None, 'est_year': None, 'head office': None}

In [58]:
data.get("name")

'grass'

In [59]:
data.get("est_year")

2008

In [60]:
data["something"]

KeyError: 'something'

In [61]:
data.get("something")

In [62]:
data.get("something","no such key")

'no such key'

In [65]:
key =input("enter your query ").strip().lower()
data.get(key,"no such key available")

enter your query Name

'grass'

In [66]:
data.items()

dict_items([('name', 'grass'), ('est_year', 2008), ('head office', 'jaipur')])

In [68]:
mylist = list(data.items())

In [69]:
mylist

[('name', 'grass'), ('est_year', 2008), ('head office', 'jaipur')]

In [70]:
data.keys() # gives keys only

dict_keys(['name', 'est_year', 'head office'])

In [71]:
data.setdefault("name","hello world")  # if data available will not add otherwise will add default value

'grass'

In [19]:
data={'name': 'grass', 'est_year': 2008, 'head office': 'jaipur'}
data.setdefault("type","An IT company")
data

{'name': 'grass',
 'est_year': 2008,
 'head office': 'jaipur',
 'type': 'An IT company'}

In [74]:
data.update(name="GRRAS") # if there then update otherwise add it

In [75]:
data

{'name': 'GRRAS',
 'est_year': 2008,
 'head office': 'jaipur',
 'type': 'An IT company'}

In [76]:
data.update([("courses",["java","python","ML"]),("type","institute"),("MD",["Gaurav","rajat","ravi"])])
# to add multiple item in dictionary

In [77]:
data

{'name': 'GRRAS',
 'est_year': 2008,
 'head office': 'jaipur',
 'type': 'institute',
 'courses': ['java', 'python', 'ML'],
 'MD': ['Gaurav', 'rajat', 'ravi']}

In [79]:
data.pop("sachin")

KeyError: 'sachin'

In [80]:
data.popitem()

('MD', ['Gaurav', 'rajat', 'ravi'])

In [82]:
dict={"name":"pallavi","skills":[ "java","pyhton","C++"],"age":20}

In [83]:
dict.pop("name")

'pallavi'

In [84]:
dict.popitem()

('age', 20)

In [20]:
dict={"name":"pallavi","skills":[ "java","pyhton","C++"],"age":20}
dict.keys()

dict_keys(['name', 'skills', 'age'])

In [21]:
dict.items()

dict_items([('name', 'pallavi'), ('skills', ['java', 'pyhton', 'C++']), ('age', 20)])

In [22]:
dict.clear()

In [23]:
dict

{}

In [24]:
dict.update([("name","pallavi"),("age",20 ),('skills', ['java', 'pyhton', 'C++'])])

In [95]:
dict

{'name': 'pallavi', 'age': 20, 'skills': ['java', 'pyhton', 'C++']}

In [25]:
dict.fromkeys(["10th","12th"],"90%")

{'10th': '90%', '12th': '90%'}

In [26]:
dict

{'name': 'pallavi', 'age': 20, 'skills': ['java', 'pyhton', 'C++']}

In [27]:
dict.keys()

dict_keys(['name', 'age', 'skills'])

In [28]:
dict1=dict.copy()

In [29]:
dict1

{'name': 'pallavi', 'age': 20, 'skills': ['java', 'pyhton', 'C++']}

In [30]:
dict.values()

dict_values(['pallavi', 20, ['java', 'pyhton', 'C++']])

In [31]:
dict.setdefault("name","siddhi")

'pallavi'

In [32]:
dict.setdefault("course","python")
dict                     # will return default value if not in dict.

{'name': 'pallavi',
 'age': 20,
 'skills': ['java', 'pyhton', 'C++'],
 'course': 'python'}

In [33]:
d= dict([("key1", "value1")])

TypeError: 'dict' object is not callable

In [107]:
print("python")
print(*"python") # will iterate through

python
p y t h o n

In [112]:
print([1,"hello"])
print(*[1,"hello"],sep='\n')

[1, 'hello']
1
hello

In [110]:
print(*data) # will give key only

name est_year head office type courses

In [34]:
 # print(**data)

TypeError: 'name' is an invalid keyword argument for print()

In [117]:
meri = { **dict,**data} # to add 2 dictionaries

In [115]:
meri

{'name': 'GRRAS',
 'version': 3.7,
 ('version', 1): 1994,
 ('version', 2): 2000,
 ('version', 3): 2008,
 'est_year': 2008,
 'head office': 'jaipur',
 'type': 'institute',
 'courses': ['java', 'python', 'ML']}

In [118]:
name = input("Enter your name : ")
age = input("enter age please : ")
d ={ "name":name,
   "age":age}

Enter your name : pallavi
enter age please : 16

In [119]:
d

{'name': 'pallavi', 'age': '16'}

In [122]:
d = {
    "name":input("enter name :"),
    "skills":eval(input("enter ")),
    "color":input("enter")
    
}

enter name :pallavi
enter ["c","java"]
enterred

In [123]:
d

{'name': 'pallavi', 'skills': ['c', 'java'], 'color': 'red'}

In [1]:
d={}
for _ in range(5):
    key_value = [( input("key : "), eval(input("value :")))]
    d.update(key_value)

key : name
value :'pallavi'
key : country
value :'india'
key : age
value :16
key : SKILLS
value :["C","JAVA"]
key : DOB
value :"28 FEB 1999"

In [2]:
d

{'name': 'pallavi',
 'country': 'india',
 'age': 16,
 'SKILLS': ['C', 'JAVA'],
 'DOB': '28 FEB 1999'}

In [3]:
d = {}
while input("press any key to continue : ") :
    key_value = [( input("key : "), eval(input("value :")))]
    d.update(key_value)

press any key to continue : k
key : name
value :'pallavi'
press any key to continue :

In [4]:
d

{'name': 'pallavi'}

In [5]:
dict = {"brand": "Ford", "model": "Mustang","year": 1964}

In [6]:
dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [12]:
dict.fromkeys("name","pallavi") # string is mutable

{'n': 'pallavi', 'a': 'pallavi', 'm': 'pallavi', 'e': 'pallavi'}

In [13]:
dict.fromkeys(["name"],"pallavi")

{'name': 'pallavi'}