In [1]:
import datetime 
datetime.datetime(2019,2,1)
book = { 
        "ISB-000123-123": { 'title':'Intro to Python',
                           'author':'Gudio Van Rossum',
                           'edition' : '4th',
                           'release_date': datetime.datetime(2018,5,6),
                           'type':[ 'computer science','technology','programming'],
                           'quantity':1200,
                           'issued' : 230,
                           },
}

student =  { 1001 : { 'name':'sachin','year':3,
                    'semester':5, 'department':'cs',
                    'book_issued':{'ISB-000123':datetime.datetime(2019,1,1),
                                  },
                    'books' : {
                        'ISBN-1001-2012':{'issuded':datetime.datetime(2018,2,3),
                                          'submit':datetime.datetime(2018,3,2)
                                         }
                                }

                },
           }

In [10]:
s={"hello","hi",1,2,3,4}

In [11]:
s

{1, 2, 3, 4, 'hello', 'hi'}

In [12]:
s.add("pallvi")

In [13]:
s

{1, 2, 3, 4, 'hello', 'hi', 'pallvi'}

In [14]:
s.remove("pallvi") # removes given element

In [15]:
s

{1, 2, 3, 4, 'hello', 'hi'}

In [16]:
s.pop() # remove random item

1

In [17]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [18]:
s1={1,2,3,4,5,6,7,8,9}
s2={7,8,9,10,11,12,13,14,15}
s3={16,17,18,19,20}
s4={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24}

In [19]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [20]:
s1.difference(s2) #will give difference

{1, 2, 3, 4, 5, 6}

In [21]:
s1.difference_update(s2) # will update the set value

In [22]:
s1

{1, 2, 3, 4, 5, 6}

In [26]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [27]:
s1.issuperset(s2)

False

In [28]:
s4.issuperset(s2)

True

In [29]:
s3.isdisjoint(s2)

True

In [30]:
s3.intersection(s2)

set()

In [32]:
s3.intersection(s4)

{16, 17, 18, 19, 20}

In [35]:
s1.update([7,8,9])

In [36]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15}

In [39]:
s1.discard(1)

In [40]:
s1

{2, 3, 4, 5, 6, 7, 8, 9}

# operators(acc. to priority order)
## 1. bitwise --> &,|,^,~,<<,>>
## 2.arithmetic --> +,-,*,/,//,%,**(left to right)
## 3.comparison --> >,<,>=,<=,!=
## 4. logical --> and ,or ,not
## 5. Membership --> in,not in
## 6. Identity --> is ,isnot
## 7. assignment --> =,+=,-=,/=,

In [41]:
import math

In [42]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [43]:
10 /3

3.3333333333333335

In [2]:
from math import floor,ceil
floor(10/3) # gives lower value

3

In [3]:
from math import floor,ceil
ceil(10/3) # gives upper value

4

In [46]:
10*6

60

In [47]:
10%6

4

In [48]:
10 /3 # true division

3.3333333333333335

In [49]:
10 // 4 #floor division,Quotient,integer division

2

In [50]:
6 ** 2 # power

36

In [51]:
"hello" + "world" # concatenation

'helloworld'

In [53]:
"hello "*3 #repetition

'hello hello hello '

# comparision

In [54]:
5 < 10

True

In [55]:
None

In [56]:
type(None)

NoneType

In [58]:
bool("") # all empty seq are consider false

False

In [59]:
5 > 10

False

In [60]:
5 > 5

False

5 == 5

In [62]:
"hello" > "hello " # length matters

False

In [63]:
"hello" > "byee"

True

In [64]:
"hello" > "helln" # check character by character

True

In [65]:
[1,2,3]>[1,2,3,4] # lenght

False

In [66]:
[1,2,3,"hello"]>[1,2,3,"helln"]

True

# frozen sets are immutable

In [4]:
s=frozenset([1,2,3])

In [5]:
s

frozenset({1, 2, 3})

In [69]:
x = "hello world"

In [70]:
"hello world" is x # checks location where they are stored

False

In [71]:
bin(13)

'0b1101'

In [72]:
bin(9)

'0b1001'

In [73]:
13 | 9

13

In [74]:
5 | 6

7

In [75]:
13 & 15

13

In [76]:
13 ^ 15 #xor

2

In [77]:
15 >> 2 #right shift

3

In [78]:
17 << 2 # left shift

68

In [79]:
~ 17

-18

In [6]:
'' or 'hello'

'hello'

In [7]:
if '' or 'hello' :  # false and true =true will give hello
    print("hello world")
else : 
    print("no world to hello")

hello world

In [8]:
'ehlo' and 'olhe'  # as not same so will print olhe

'olhe'

In [9]:
if 13 % 2 : 
    print("Even")
else : 
    print("Odd")

Even

In [10]:
print("Even") if 13 % 2 else print("Odd")

Even

In [11]:
if False : 
    print("False")
elif True : 
    print("hello world")
else : 
    print("bye world")

hello world

In [12]:
%%writefile even_odd.py
num = int(input("Enter a number : "))

if num % 2 : 
    print(f"{num} is Odd")
else : 
    print(f"{num} is Even")

Writing even_odd.py

In [14]:
num = int(input("Enter a number : "))

if num % 2 : 
    print(f"{num} is Odd")
else : 
    print(f"{num} is Even")

Enter a number : 7
7 is Odd

In [15]:
# Leap Year 

year = int(input("Enter a year : "))
if year % 4 == 0 : 
    if year % 100 == 0 : 
        if year % 400 == 0 : 
            print(f"{year} is a Leap Year")
        else  :
            print(f"{year} is Not a Leap Year")
    else : 
        print(f"{year} is a Leap Year")
else : 
    print(f"{year} Not a leap year")

Enter a year : 1900
1900 is Not a Leap Year

In [59]:
# grant a loan or not
# first question --> job type --> government/private/business
# if job is government and salary is greater than 50000 provide loan else deny
# else if job is private deny with saying nikal jao yha se 
# else if job is business than ask for turn over if turn over is greater than
# 20lakh than provide loan else deny with saying aaukat nh hai

In [1]:
jobtype = input("Enter job type : ").strip().lower()
if jobtype == "government" : 
    salary = eval(input("Enter Salary : "))
    if salary >= 50000 : 
        print("Loan  Approved")
    else : 
        print("not approved")
elif jobtype == "business" : 
    trun_over = eval(input("Enter turn over : "))
    if trun_over >= 2000000 : 
        print("approved")
    else : 
        print("nahi denge")
else : 
    print("bhuggg ")

Enter job type : government
Enter Salary : 78960
Loan  Approved